<header>
        <div class="container">
          <div class="row">
            <div class="col-sm-5 col-md-7">
              <div class="container">
                <div class="row">
                  <div class="col-sm-3 col-lg-3">
                    <a class="navbar-brand text-white   mr-2 header float-right" style="height:45px;" href="<%= users_path %>"><b>Fotobook</b></a>
                  </div>

                  <div class="col-sm-9 col-lg-9">
                    <input class="form-control mt-1 h-75" type="search" placeholder="Search Photo/Album" aria-label="Search">
                  </div>

                </div>
              </div>
            </div>

            <div class="col-sm-5 col-md-5">
              <ul class="nav nav-pills float-right">

                <=% fillnav =>

              </ul>
            </div>
          </div>
        </div>
      </header>